html {
    font-family: "Poppins";
    src: local("Poppins Medium"),local("Poppins-Medium"), url("https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
p {
    text-align: justify;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

td, th {
    border-bottom: 0.0rem solid
}

.inverted {
    color: white;
    background-color: black;
}